<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.lagou.dao.CourseMapper">

    <!--    分页查询    -->
    <select id="findAllCourse" parameterType="com.lagou.domain.CourseVO" resultType="com.lagou.domain.Course">
        SELECT
            id,
            course_name,
            price,
            sort_num,
            STATUS
        FROM
        course
        <where>
            <if test="true">
                and is_del != 1
            </if>
            <if test="courseName != null">
                and course_name like concat('%',#{courseName},'%')
            </if>
            <if test="status != null">
                and status = #{status}
            </if>
        </where>

        order by sort_num
    </select>

    <!--  保存课程信息  -->
    <insert id="saveCourse" parameterType="com.lagou.domain.Course" useGeneratedKeys="true"  keyColumn="id" keyProperty="id">

        INSERT INTO course(
            course_name,
            brief,
            preview_first_field,
            preview_second_field,
            course_img_url,
            course_list_img,
            sort_num,
            price,
            discounts,
            sales,
            discounts_tag,
            course_description_mark_down,
            create_time,
            update_time
        ) VALUES(#{courseName},#{brief},#{previewFirstField},#{previewSecondField},#{courseImgUrl},
        #{courseListImg},#{sortNum},#{price},#{discounts},#{sales},#{discountsTag},#{courseDescriptionMarkDown},
        #{createTime},#{updateTime});

        <selectKey resultType="java.lang.Integer" order="AFTER" keyProperty="id">
            SELECT LAST_INSERT_ID();
        </selectKey>
    </insert>

    <!-- 保存讲师信息   -->
    <insert id="saveTeacher" parameterType="com.lagou.domain.Teacher">
        INSERT INTO teacher(
            course_id,
            teacher_name,
            POSITION,
            description,
            create_time,
            update_time
        ) VALUES(#{courseId},#{teacherName},#{position},#{description},#{createTime},#{updateTime});
    </insert>

    <!--  修改课程信息  -->
    <update id="updateCourse" parameterType="com.lagou.domain.Course">
        UPDATE course
        <trim prefix="SET" suffixOverrides=",">
            <if test="courseName != null and courseName != ''">
                course_name = #{courseName},
            </if>

            <if test="brief != null and brief != ''">
                brief=#{brief},
            </if>

            <if test="previewFirstField != null and previewFirstField != ''">
                preview_first_field=#{previewFirstField},
            </if>

            <if test="previewSecondField != null and previewSecondField != ''">
                preview_second_field=#{previewSecondField},
            </if>

            <if test="courseImgUrl != null and courseImgUrl != ''">
                course_img_url=#{courseImgUrl},
            </if>

            <if test="courseListImg != null and courseListImg != ''">
                course_list_img=#{courseListImg},
            </if>

            <if test="sortNum != null and sortNum != ''">
                sort_num=#{sortNum},
            </if>

            <if test="price != null and price != ''">
                price=#{price},
            </if>

            <if test="discounts != null and discounts != ''">
                discounts=#{discounts},
            </if>

            <if test="sales != null and sales != '' or sales==0">
                sales=#{sales},
            </if>

            <if test="discountsTag != null and discountsTag != ''">
                discounts_tag=#{discountsTag},
            </if>

            <if test="courseDescriptionMarkDown != null and courseDescriptionMarkDown != ''">
                course_description_mark_down=#{courseDescriptionMarkDown},
            </if>

            <if test="updateTime != null">
                update_time=#{updateTime}
            </if>

        </trim>

        <where>
            <if test="id!=null and id != '' ">id=#{id}</if>
        </where>
    </update>

    <!--  修改讲师信息  -->
    <update id="updateTeacher" parameterType="com.lagou.domain.Teacher">
        UPDATE teacher
        <trim prefix="SET" suffixOverrides=",">
            <if test="teacherName != null and teacherName != ''">
                teacher_name = #{teacherName},
            </if>

            <if test="position != null and position != ''">
                position = #{position},
            </if>

            <if test="description != null and description != ''">
                description = #{description},
            </if>

            <if test="updateTime != null">
                update_time=#{updateTime}
            </if>
        </trim>
        <where>
            <if test="courseId != null and courseId != '' ">course_id = #{courseId}</if>
        </where>
    </update>

    <!--  修改课程状态  -->
    <update id="updateCourseStatus" parameterType="com.lagou.domain.Course">
        UPDATE course SET STATUS = #{status} ,update_time = #{updateTime} WHERE id = #{id}
    </update>

    <!--  根据id查询  -->
    <select id="findCourseById" parameterType="int" resultType="com.lagou.domain.CourseVO">
        SELECT
            course_name,
            brief,
            teacher_name,
            POSITION,
            description,
            preview_first_field,
            preview_second_field,
            course_img_url,
            course_list_img,
            sort_num,
            discounts,
            price,
            sales,
            discounts_tag,
            course_description_mark_down
        FROM course LEFT JOIN teacher ON course.id = teacher.course_id
        WHERE course.id = #{id}
    </select>

</mapper>


